<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тег">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>Список сообщений</div>

<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>

<div>
    <table border="0.5">
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Tag</th>
            <th>Author</th>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:utext="${message.id}"></td>
            <td th:utext="${message.text}"></td>
            <td th:utext="${message.tag}"></td>
            <td th:utext="${message.authorName}"></td>
        </tr>

    </table>
</div>



<p th:text= ${some} />



</body>
</html>